*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

[Bb]in/
[Oo]bj/

*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc

.vs/

packages/
*.nupkg

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

_ReSharper*/
*.ReSharper
*.DotSettings.user
